.env
.md
.yml
.git
db.sqlite3
README.md
Dockerfile
venv/
fixtures
node_modules/
django-compressor-parceljs/


<none>                    <none>              0bdc71f8fb91 \        9 seconds ago       242MB
mrsme/django_vue          latest              6c11cbc50c32 \        11 minutes ago      690MB
<none>                    <none>              92b32042f5a9 \        22 minutes ago      687MB
<none>                    <none>              8cece6556ef5 \        23 minutes ago      687MB
<none>                    <none>              45851b2dc0c9 \        24 minutes ago      687MB
<none>                    <none>              226ef37d2f85 \        28 minutes ago      687MB
<none>                    <none>              fd7f7415d7f7 \        47 minutes ago      344MB
<none>                    <none>              5e82b41fab2e \        50 minutes ago      344MB
<none>                    <none>              f3584bd5b053 \        53 minutes ago      300MB
<none>                    <none>              31b0ec64372d \        55 minutes ago      344MB
<none>                    <none>              a1493cf9ab15 \        About an hour ago   344MB
<none>                    <none>              35eec966143d \        2 weeks ago         348MB