body{
    // background-image: url(///../static/img/ssd/avatar1.jpeg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.antd {
    margin: auto 0;
    display: block;
    padding: 50px 0;
    &-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 70px;
        span{
            font-size: 2rem;
            padding: 0 20px;
        }
        img {
            height: 100%;
        }
    }
    
    a{
        display: block;
        text-align: center;
        font-size: 2rem;
        padding: 20px 0;
    }
}

.components {
    text-align: center;
}
