{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Django Testing</title>
    {% compress css file style %}
      <link rel="stylesheet" type="text/x-scss"  href="{% static 'css/style.scss'%}">
    {% endcompress %}
  </head>
  <body>
    <div class="antd">
      <div class="antd-logo">
          <img src="{% static 'img/django.svg' %}" alt="ant_logo">
          <span>+</span>
          <img src="{% static 'img/antd.svg' %}" alt="ant_logo">
          <span>+</span>
          <img src="{% static 'img/logo.png'%}" alt="vue_logo">
      </div>
      <a href="https://www.antdv.com/docs/vue/introduce/">Ant-vue-design</a>
    </div>
    <div class="components">
        <div id="components-demo">
          </div>
    </div>

   
    {% compress parcel file myts %}
        <script src="{% static 'js/index.js' %}"></script>
    {% endcompress %}
  </body>
</html>
