{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Django Testing</title>
    {% compress css file style %}
      <link rel="stylesheet" type="text/x-scss"  href="{% static 'css/style.scss'%}">
    {% endcompress %}
  </head>
  <body>
    <button>Checked</button>
    <div id="components-demo">

      {% verbatim %}

      {% endverbatim %}
    </div>
    {% compress parcel file myts %}
        <script src="{% static 'js/index.js' %}"></script>
    {% endcompress %}
  </body>
</html>
